<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="Noah Choi">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Noah professional website">
    <title>Noah Choi</title>
</head>
<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Noah Choi</h1>
        <nav>
            <a class="nav" href="../index.html">Home</a>
            <a class="nav" href="./cv.html">CV</a>
            <a class="nav" href="./contact.html">Contact me</a>
            <a class="nav" href="./fun.html">For fun</a>
            <a href="../template.html">Template</a>
        </nav>
    </header>
    <div class="mainLayout">
        <div class="item1">
            <h2 class="Fun"><p>Things I love to do for fun</p></h2>
            <!-- <button id="see-more" onclick="showList()">Click to see...</button> -->
            <ul id="FavList">
                <li>Golf</li>
                <li>Watch Movies</li>
                <li>Go to the Gym</li>
                <li>Spend time with my girlfriend</li>
            </ul>
        </div>
        <div class="item2">
            <img src="../static/clown.jpg" class="funIMG" alt="">
        </div>
        <div class="item3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TzDhdvVg9_c?si=jaJHyY_yR44w81Zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Get Advice by pressing the button</p>
                <button onclick="getAdvice()">Button</button>
            </div>
        </div>

    </div>

    <footer id="copyYear">2025 designed and coded by Noah Choi</footer>
</body>
</html>