<!DOCTYPE html>
<html lang="en">
<head>
  <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="author" content="Noah Choi">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Noah professional website">
    <title>Noah Choi</title>
</head>
<body style="font-family: Arial" onload="addYear()">
    <header>
        <h1 id="webname">Noah Choi</h1>
        <nav>
            <a class="nav" href="../index.html">Home</a>
            <a class="nav" href="./cv.html">CV</a>
            <a class="nav" href="./contact.html">Contact me</a>
            <a class="nav" href="./fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2 class="CV"><p>Curriculum Vitae</p></h2>
        <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Korea International School</td>
              <td>High School Education</td>
            </tr>
            <tr>
              <td>Carnegie Mellon University</td>
              <td>University Education, Bachelor of Science in Statistics and Machine Learning</td>
            </tr>
            <tr>
              <td>Institution 3</td>
              <td>Description blah blah blah</td>
            </tr>
            <tr>
              <td>Institution 4</td>
              <td>Description blah blah blah</td>
            </tr>
          </table>          
        <a href="../static/Noah Choi Resume.pdf" target="_blank" rel="noopener noreferrer">My Resume</a>
    </div>

    <footer id="copyYear">2025 designed and coded by Noah Choi</footer>
</body>
</html>